@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: black;
  color: white;
}

.border {
  border: 2px solid red;
  margin: 3px;
}

.flex {
  display: flex;
}

.justify_center {
  justify-content: center;
}

.items_center {
  align-items: center;
}

.bg_black {
  background-color: black;
  color: white;
}
.invert {
  filter: invert(1);
}

.bg_grey {
  background-color: #121212;
}

.m-1 {
  margin: 5px;
}

.rounded {
  border-radius: 7px;
}
.left {
  width: 25vw;
  padding: 10px;
}
.right {
  width: 75vw;
  margin: 16px 0;
}
.home {
}
.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}
.p-1 {
  padding: 10px;
}
.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  font-weight: bold;
  font-size: 13px;
  align-items: center;
  padding: 23px 14px;
}
.heading img {
  width: 30px;
}
.library {
  position: relative;
  min-height: 70vh;
}

.footer {
  display: flex;
  font-size: 10px;
  gap: 6px;
  position: absolute;
  bottom: 0;
}
.footer a {
  color: gray;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34 34 34);
}

.header > * {
  padding: 20px;
}

.spotifyPlaylists {
  padding: 16px;
}
.cardContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px;
}
.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
}

.card > * {
  padding-top: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
