body {
  /* background-color: black;
  color: white; */
}

.border {
  border: 2px solid red;
}

.flex {
  display: flex;
}

.justify_center {
  justify-content: center;
}

.items_center {
  align-items: center;
}
.left {
  width: 25vw;
}
.right {
  width: 75vw;
}
